@import "tailwindcss";

.containes {
  background-color: #fff5ec;
  width: 1342px;
  margin: 0 auto;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #fff5ec;
  margin: 0;
  padding: 0;
}

/* custom scrollbarni yashirish uchun */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE va Edge uchun */
  scrollbar-width: none; /* Firefox uchun */
}
